dialog[open] {
  position: fixed;
  bottom: 2rem;
  left: auto;
  right: 2rem;
  max-width: 40ch;
  background: white;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
}
