#click-boundary dialog[open] {
  position: fixed;
  top: 50vh;
  left: 50vw;
  max-width: 80vw;
  max-height: 80vh;
  transform: translate(-50%, -50%);
  background: white;
  border: none;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
}
