body {
  width: max-content;
  max-width: 60rem;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

button {
  cursor: pointer;
}

button, input {
  font: inherit;
}

label {
  cursor: pointer;
  display: block;
}

thead th {
  cursor: pointer;
}

th button {
  border: none;
  background: none;
  padding: 0;
}

th[aria-sort="ascending"] button::before {
  content: '▲';
}

th[aria-sort="none"] button::before,
th[aria-sort="descending"] button::before {
  content: '▼';
}

th:not([aria-sort="none"]) button::before {
  color: #dd3333;
}

th button span {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

tbody th {
  text-transform: uppercase;
}

tbody :is(td, th) {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

tr > :first-child {
  text-align: left;
}

tr > :not(:first-child) {
  text-align: right;
  padding-left: 2em;
}

thead th > span {
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

thead th:not(:first-child) span {
  flex-direction: row-reverse;
}

#hidden-sort-order-announcement {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
